<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAROf63Ce9CeCf53zTE7GDM2T-C6nR9Oos</string>
	<key>GCM_SENDER_ID</key>
	<string>531161998897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventorypro.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>inventorypro-5911f</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorypro-5911f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531161998897:ios:ded5901487686f3d699710</string>
</dict>
</plist>